<div class="activity-row">
  <div class="activity-desc">
    <h5>Resort Address</h5>
    <p>{{currentResort.address}}</p>
    <p>{{currentResort.type}}</p>
    <h6>Tel: {{currentResort.phone}}</h6>
  </div>
  <div class="activity-img">
    <ul>
      <li><img src='{{currentResort.img}}' alt=""
               [style.width.px]="50"
               [style.height.px]="50"/></li>
      <li><img src='{{currentResort.socialInfo.img}}' alt=""
               [style.width.px]="50"
               [style.height.px]="50"/></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
