<div>
  <div class="resort-card" fxLayout="column">
  <ng-container *ngIf="resortDetail != null">
    <img mat-card-image
         src="{{resortDetail.img}}"
         [style.width.px]="300"
         alt="">
  </ng-container>
    <mat-toolbar
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div><a href="#"><span>Hotel</span></a></div>
      <div><a href="#"><span>Fishing</span></a></div>
      <div><a href="#"><span>Tours</span></a></div>
      <div><a href="#"><span>Weather</span></a></div>
    </mat-toolbar>
      <mat-list>
        <app-resort-item
          *ngFor="let resortEl of resorts"
          [currentResort]="resortEl"
          (click)="chooseResort(resortEl)"></app-resort-item>
      </mat-list>
  </div>
</div>
