<div class="element-bg-img">
  <img
    src="{{resortDetail.img}}"
    alt=""
    class="img-responsive">
</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let resortType of resorts$ | async | byType">
        <a href="#" (click)="filterResorts($event)">{{resortType}}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <app-resort-item
          *ngFor="let resortEl of resorts$ | async | resortFilter: filterResortType"
          [currentResort]="resortEl"
          (click)="chooseResort(resortEl)"></app-resort-item>
      </div>
    </div>
  </div>
</div>
