<mat-card [ngStyle]="{'max-width.px': 400}" class="social-info-card">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>{{socialInfo.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{socialInfo.img}}" alt="">
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column">
      <div>Followers</div>
      <div fxLayoutAlign="center">{{socialInfo.followers}}</div>
    </div>
    <div fxLayout="column">
      <div>Following</div>
      <div fxLayoutAlign="center">{{socialInfo.following}}</div>
    </div>
  </mat-card-actions>
</mat-card>

